body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

h1 {
  font-size: 35px;
  line-height: 25px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

li {
  list-style: none;
}

small {
  color: rgb(136, 133, 124);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #e1c8be;
  border-radius: 10px;
  background-color: #e1c8be;
}

.weather-temperature img {
  margin-right: 5px;
  height: 85px;
  width: 85px;
}

.weather-temperature strong {
  font-size: 60px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  top: -34px;
}
